<div class="col-xl-10 mt-10 mx-auto">
  <div class="card border-left-warning shadow h-200 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
      <div class="container">
      <div class="panel panel-default">
        <h1 class="panel-heading">Delete Post</h1>
        
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<%# <div class="col mr-2">
          <div class="text-m font-weight-bold text-primary text-uppercase mb-1">2019/09/04</div>
            <i class="fas fa-stopwatch fa-2x text-gray-300 float-left"></i>
            <p class="h2 pl-3 my-auto font-weight-bold text-gray-800 float-left">360min</p>
        </div>
          <p class="mt-2">今日はRubyの学習をした。変数についての理解が深まった。サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
      </div> %>



