<div class="col-xl-10 mt-10 mx-auto">
  <div class="card shadow h-200 py-2">
    <div class="card-body">
      <div class="row no-gutters align-items-center">
      <div class="container">
      <div class="panel panel-default">
        <h1 class="panel-heading">Post Log</h1>
        <div class="panel-body">
          <div class="error-message"></div>
          <%=form_tag('/logs', method: :post) do %>
            <div class="form-group">
              <label class="control-label">Learning_time</label>
              <input class="form-control" type="integer" name="learning_time">
            </div>
            <div class="form-group">
              <label class="control-label">text</label>
              <textarea class="form-control" type="text" name="text"></textarea>
            </div>
            <button class="btn btn-success btn">送信</button>
          <% end %>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

<%# <div class="col mr-2">
          <div class="text-m font-weight-bold text-primary text-uppercase mb-1">2019/09/04</div>
            <i class="fas fa-stopwatch fa-2x text-gray-300 float-left"></i>
            <p class="h2 pl-3 my-auto font-weight-bold text-gray-800 float-left">360min</p>
        </div>
          <p class="mt-2">今日はRubyの学習をした。変数についての理解が深まった。サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
      </div> %>



